-r requirements.txt
pytest-factoryboy==2.1
pytest-django==4.2
sphinx==4.2
sphinx-autodoc-typehints
sphinx-markdown-builder
django-extensions
git+https://github.com/statease/sphinx-jsontoc-builder.git@master#egg=sphinxcontrib_jsontoc
