<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

{% include 'head.html' with stylesheet='docs.css' %}

<body>
    {% include 'navbar.html' %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <div class="content">
                        {% block toctree %}
                        {{ doc.toctree|safe }}
                        {% endblock toctree %}
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        {% block doc %}
                        {{ doc.body|safe }}
                        {% endblock doc %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}
</body>
</html>
